@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;700;800&display=swap');

body{
margin: 0;
font-family: 'Open Sans', sans-serif;
}

img{
max-width: 100%;
}
header{
    background-color: #c9d2d5;
    height: 120px;
}
nav{
width: 1200px;
margin: 0 auto;
height: 100%;
display: flex;
flex-wrap: wrap;
align-items: center;

}
p{
margin: 0;
font-size: 20px;

}

nav .logo{
flex-basis: 20%;
}

nav .menu{
flex-basis: 80%;
}
.menu a{color: #4299e1;font-size: 20px;padding: 15px 30px;display:inline-block;text-decoration: none;border-radius: 50px;transition-duration: 0.4s;font-weight: 500;}
.menu a:hover{
box-shadow: 0 0 0 3px;

}
.logo img{
width: 144px
}

.hero-banner{
    background-image: url(../images/pattern_react.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position-x: right;
    padding: 200px;
}
.hero-banner-content{
    width: 1200px;
    margin: 0 auto;
    color: #666f76;
}   
.hero-banner-content h1{
     font-size: 80px;
     font-weight: 600;
     margin: 0;
     line-height: 1;
     max-width: 950;
}

.gallary-section{
background: rgb(201,210,213);
background: linear-gradient(173deg, rgba(201,210,213,1) 50%, rgba(201,210,213,1) 50%, rgba(66,153,225,1) 51%);
padding: 100px 0;

}
.gallary{
    width: 1200px;
    margin: 0 auto;
    display: flex;
    flex: w;
    flex-wrap: wrap;
}
.gallary div{
    flex-basis: 25%;
    padding: 8px;
    box-sizing: border-box;
    flex-wrap: wrap;
}
.gallary div img{

display: block;

height: 200px;

object-fit: cover;

width: 100%;

border-radius: 20px;
}

footer{
    padding: 15px;
    text-align: center;
    letter-spacing: 1.2;
    color: #514c5c;
}
 footer p{}
 footer p a{
    color: #a9b7b7;
    font-weight: 700;
}
}